---
layout: default
title: Portfolio
---
<div class="container-fluid content inverse-section">
 <h1 class="callout-text">Portfolio</h1>
 </div>
<div class="container-fluid content">
{% for portfolio in site.portfolio %}
<div class="row" style="margin-top: 3rem; margin-bottom: 4rem;">
    <div class="col-sm-6">
        <h3>{{ portfolio.title }}</h3>
        <p>{{ portfolio.content }}</p>
        <p>Photo/editing: {{ portfolio.photo }}</p>
    </div>
    <div class="col-sm-6" style="min-height: 237px;">
        {% if portfolio.youtube %}
        <iframe height="100%" width="100%" allowfullscreen="" 
            frameborder="0" title="External YouTube" 
            aria-label="External YouTube" 
            src="//www.youtube.com/embed/{{ portfolio.youtube }}?wmode=transparent&amp;autoplay=0&amp;theme=dark&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=0&amp;rel=0&amp;playlist=false&amp;enablejsapi=0"></iframe>
        {% else if portfolio.vimeo %}
        <iframe height="100%" width="100%" allowfullscreen="" 
            frameborder="0" title="External Vimeo" 
            aria-label="External Vimeo" 
            src="//player.vimeo.com/video/{{ portfolio.vimeo }}?autoplay=false&amp;loop=false&amp;byline=false&amp;portrait=false&amp;title=false"></iframe>
        {% endif %}
    </div>

</div>
{% endfor %}

</div>
